@model CodeNameSynic.Models.Category

@{
    ViewBag.Title = Model.Title;
}

<center>
    <h2> @Model.Title <h2>
    <h4> @Model.Description </h4>
    
@if ((SelectList)ViewBag.EventList != null)
{
    // display table header data here

    foreach(var item in ViewBag.EventList)
    {
        // List all event details here
    }
}

    @* items being displayed can be put into this styling is wanted. *@
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>
</center>

