@model CodeNameSynic.Models.Category

@{
    ViewBag.Title = Model.Title;
}

<center>
    <div>
        <h2> @Model.Title <h2>
        <h4> @Model.Description </h4>
    </div>
    
@if ((SelectList)ViewBag.EventList != null)
{

}
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>
</center>

